$title-color: linear-gradient(to right, #f32170, #be421c, #cf23cf, #cc6b33);
$text-color: white;
$back-ground-color: #141414;
$font-size-1: 1.5rem;
$border-radius: 15px;
$size0-8: 80%;
$size1: 100%;
$size10: 100vh;
$size8: 80vh;
$size4: 40vh;
$media1150: 1150px;
$media768: 768px;
$media550: 550px;
