.banner .btn {
  @include button;
  margin: 50px 10px 0 11px;
}
.modal .btn {
  @include button;
}
.btn-close{
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: $font-size-1;
    color: $text-color;
    font-weight: 600;
    border: none;
    background-color:$back-ground-color;
  
  }