.carousel {
  margin-top: 10%;
  width: $size1;
  .carousel-slider {
    position: relative;
    display: flexnav;
    overflow: hidden;
    @include media($media1150) {
      :hover {
        visibility: visible;
      }
    }
    button .btn-nav {
      border-radius: 5px;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.3);
      outline: none;
      border: none;
      color: white;
      z-index: 5;
      visibility: hidden;
      @include media($media1150) {
        display: none;
      }
    }
    #moveLeft {
      left: 0;
    }
    #moveRight {
      right: 0;
    }

    h2 {
      width: 100%;
      font-size: 1.2rem;
      font-weight: 600;
    }
    .carousel-list {
      margin-top: 20px;
      margin-bottom: 35px;
      width: 100%;

      overflow-y: visible;
      white-space: nowrap;
      position: relative;
      .carousel-item {
        display: inline-block;
        position: relative;
        padding: 0 2px;
        font-size: 0.8rem;
        transition: all 0.8s ease-in-out;
        @include media($media1150) {
          :hover {
            transform: scale(1.3);
            z-index: 2;
            img {
              border-bottom-left-radius: 0;
              border-bottom-right-radius: 0;
            }
          }
        }
        .carousel-item img {
          @include sizing($size1, $size1);
          border-radius: 10px;
          object-fit: cover;
        }
      }
    }
  }
}
